ul{
    background-color: cyan;
    color: beige;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2 {
    text-align: center;
}
a:hover {
    color:aquamarine;
}
h1::first-letter {
    font-size: 200%;
}