div {
    width: 200px;
    height: 100px;
    border: 2px solid red;
}
.relative {
    position: relative;
    left: 40px;
}
.absolute {
    position: absolute;
    left: 50px;
}
.fixed {
    position: fixed;
    top: 0px;
    left: 40px;

}
.sticky {
    position: sticky;
    top: 1px;
    left: 200px;
    width: 100px;
}
